#stalkerMe{
    position: relative;
    pointer-events: none;
    top: -8px;     
    left: -8px; 
    width: 16px;   
    height: 16px;  
    background: blue;
    border-radius: 50%;
    transform: translate(0,0);
    z-index: 999;
}

#stalkerEnemy{
    position: relative;
    pointer-events: none;
    top: -8px;     
    left: -8px; 
    width: 16px;   
    height: 16px;  
    background: red;
    border-radius: 50%;
    transform: translate(0,0);
    z-index: 998;
}

#field{
    position:absolute;
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}

/*  */
#enemy{
    width: 16px;   
    height: 16px;  
    background: red;
}
#me{
    width: 16px;   
    height: 16px;  
    background: blue;
}