<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WebSocket Sample</title>
	<link href="{{ url_for('static', path='style/style.css') }}" rel="stylesheet">
</head>
<body>
<h1>WebSocket Sample</h1>
<label for="">Player ID <input value="{{ user_id }}" type="text" name="" id="playerId"></label>
<br>
<label for="">自分 <span id="me">　</span> X:<input type="text" id="locationMeX" />, Y:<input type="text" id="locationMeY" /></label>
<br>
<label for="">相手 <span id="enemy">　</span> X:<input type="text" id="locationEnemyX" />, Y:<input type="text" id="locationEnemyY" /></label>

<section id="field">
	<div id="stalkerMe"></div>
	<div id="stalkerEnemy"></div>
</section>

<script
    type="text/javascript"
    src="{{ url_for('static', path='script/app.js') }}">
</script>
</body>
</html>